@use "../base/fonts" as *;
// FONTS
$font-primary: "Karla-Regular", sans-serif;
$font-secondary: "Karla-Bold", sans-serif;
// COLORS
$clr-island-aqua: hsl(179, 62%, 43%);
$clr-white: hsl(0, 0%, 100%);
$clr-acid-lime: hsl(71, 73%, 54%);
$clr-veranda-iris: hsl(217, 22%, 67%);
$clr-clear-vision: hsl(204, 43%, 93%);
