// FONTS
$font-primary: "Lexend Deca", sans-serif;
$font-secondary: "Big Shoulders Display", sans-serif;
// COLORS
$clr-bleached-silk: hsl(0, 0%, 95%);
$clr-white: hsl(0, 0%, 100%);
$clr-rich-black: hsl(179, 100%, 13%);
$clr-fanfare: hsl(184, 100%, 22%);
$clr-french-toast: hsl(31, 77%, 52%);