@use "../abstracts/mixins" as *;
.single-price__grid {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "first first"
      "second third";
  }
}
