@use "../abstracts/mixins" as *;
//section preview
.preview {
  @include laptop {
    display: grid;
    place-content: center;
  }
  &__card {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, auto);
    }
  }
}
// card
.card {
  @include grid-auto;
  gap: 2.1875rem;
  &__body {
    @include grid-auto;
    gap: 1.5625rem;
  }
  &__btn {
    justify-self: start;
  }
}
