@use "../abstracts/mixins" as *;
.single-price {
  display: grid;
  place-content: center;
  &__grid {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "first first"
        "second third";
    }
  }
}
