@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.btn {
  &:is(:link, :visited) {
    background-color: $clr-acid-lime;
    padding: 0.875rem 0;
    border-radius: 0.3125rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    font-family: $font-secondary;
    transition: ease 0.3s;
    color: $clr-white;
    width: 100%;
    text-align: center;
    box-shadow: 0 0.625rem 0.625rem 0 $clr-black;
  }
  &:is(:hover, :active) {
    background-color: darken($clr-acid-lime, 10%);
  }
}
