@font-face {
  src: url(../fonts/Karla-Regular.ttf);
  font-family: "Karla-Regular";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Karla-Bold.ttf);
  font-family: "Karla-Bold";
  font-weight: 700;
  font-style: normal;
}
