@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
body {
  font-family: $font-primary;
  font-size: 0.875rem;
  color: $clr-veranda-iris;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  @include tablet {
    font-size: 1rem;
  }
}
.single-price__title {
  font-size: 1.25rem;
  color: $clr-island-aqua;
  font-family: $font-secondary;
  margin-bottom: 1.5rem;
  letter-spacing: -0.0156rem;
  @include tablet {
    font-size: 1.5rem;
  }
}
.single-price__sub-title {
  color: $clr-white;
  font-size: 1.125rem;
  font-family: $font-secondary;
  margin-bottom: 1.125rem;
  letter-spacing: -0.0138rem;
}
